@using WhatsForLunch

<div class="view @(this.IsToday ? "today" : "")">
    <div class="header @(this.IsToday ? "todayHeader" : "")">
        <div class="dayOfWeek">@this.Day?.DayOfWeek</div>
        <div class="date">@this.Day?.DayOfMonth @this.Day?.Month</div>
    </div>
    @if (this.Day?.Menu == null)
    {
        <div class="noMenu">No menu.</div>
    }
    else
    {
        <div class="items">
            @foreach (var item in this.Day.Menu.Items)
            {
                <div>@item</div>
            }
        </div>
    }
</div>

@code
{
    [Parameter]
    public LunchDay? Day { get; set; }

    [Parameter]
    public bool IsToday { get; set; }
}
